[data-bs-theme="light"] {
  --tag-list-bg: #d6e6f2;
  --card-bg: #d9e9e6;
}

[data-bs-theme="dark"] {
  --tag-list-bg: #2c3437;
  --card-bg: unset;
}

.pill-button {
  background-color: #ddd;
  border: none;
  color: white;
  padding: 0px 2px;
  text-decoration: none;
  display: inline-block;

  min-width: 20%;
  max-width: 100%;
  margin: 2px 2px;
  background-color: #29b5bf;
  white-space: nowrap;
  height: 22px;
  text-align: center;
  &:hover {
    background-color: rgb(81, 191, 291);
    cursor:
      url("./icons/x-journal.svg") 16 16,
      pointer;
  }
}

.xtag {
  float: right;
  margin-left: 4px;
  //   font-size: 1em;
  color: mintcream;
  border-color: aliceblue;
}
.container {
  flex-wrap: wrap;
  align-items: center;
  display: flex;
  overflow: hidden;
  width: 100%;
  max-width: 100%;
  padding-left: 14px;
  border-radius: 5px;
  color: black;
}

.btn:disabled {
  background-color: grey;
}

.container input {
  height: 25px;
  flex: content;
  min-width: 100%;
  width: 100%;
  // border: 0px solid;
  border: none;
  border-top: 1px solid;
  background-color: unset;
}

.card-footer {
  padding: 0;
  border-top: 0px;
  background-color: var(--card-bg);
}

.card-header {
  background-color: var(--card-bg);
  margin-top: 0px;
  padding-top: 2px;
  padding: unset;
  border: 2px;
}

.row.no-pad {
  margin-right: 0;
  margin-left: 0;
}

.row.no-pad > [class*="col-"] {
  padding-right: 0;
  padding-left: 0;
}

@media screen and (max-width: 700px) {
  .title {
    font-size: 12px;
  }
  p {
    font-size: 20px;
  }
  .card-title {
    font-size: 15px;
  }
  .card-footer {
    font-size: 12px;
  }
}

.journal-icon {
  display: block;
  float: right;
}

.submit {
  float: right;
}

.reset {
  float: right;
}

.card-body {
  background-color: var(--card-bg);
}

.bookmark-card {
  min-height: 250px;
  margin-bottom: 20px;
}

.new-bookmark-card {
  @extend .bookmark-card;
  text-align: center;
  input {
    margin-top: 20px;
  }
}
