@import url("https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap");

$grid-breakpoints: (
  // Extra small screen / phone
  xs: 0,
  // Small screen / phone
  sm: 576px,
  // Medium screen / tablet
  md: 768px,
  // Large screen / desktop
  lg: 992px,
  // Extra large screen / wide desktop
  xl: 1600px,
  xxl: 2000px,
  xxxl: 2900px
);

$container-max-widths: (
  sm: 540px,
  md: 720px,
  lg: 960px,
  xl: 1540px,
  xxl: 1960px,
  xxxl: 2860px,
);

@import "bootstrap/scss/bootstrap";

body {
  width: 100%;
  height: 100%;
}

* {
  margin: 0;
  padding: 0;
  outline: none;
  box-sizing: border-box;
  font-family: "Work Sans", sans-serif;
}

.work-sans-font {
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

a {
  text-decoration: none;
}

.btn:disabled {
  background-color: grey;
}

[data-bs-theme="light"] {
  background-color: #8cabae;
  --tag-list-bg: var(--bs-body-bg);
  --card-bg: #f6faf9;
}

[data-bs-theme="dark"] {
  background-color: #717a83;
  --tag-list-bg: #2c3437;
  --card-bg: var(--bs-body-bg);
}
