@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;500;700&display=swap");
* {
  margin: 0;
  padding: 0;
  outline: none;
  box-sizing: border-box;
  font-family: "Work Sans", sans-serif;
}
a {
  text-decoration: none;
}
header {
  position: sticky;
  z-index: 30;
  top: 0;
}
nav {
  display: flex;
  padding: 16px;
  justify-content: space-between;
  align-items: center;
  background-color: #f1f1f1;
}

:root {
  --tag-list-bg: #dcf2f1;
}

[data-bs-theme="light"] {
  background-color: #f7fbfc;
}

[data-bs-theme="dark"] {
  background-color: #717a83;
}
