@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap");
@import "bootstrap/dist/css/bootstrap.min.css";

body {
  width: 100%;
  height: 100%;
}

* {
  margin: 0;
  padding: 0;
  outline: none;
  box-sizing: border-box;
  font-family: "Work Sans", sans-serif;
}

.work-sans-font {
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

a {
  text-decoration: none;
}

.btn:disabled {
  background-color: grey;
}

[data-bs-theme="light"] {
  background-color: #d9e9e6;
  --tag-list-bg: #d9e9e6;
  --card-bg: #f6faf9;
}

[data-bs-theme="dark"] {
  background-color: #717a83;
  --tag-list-bg: #2c3437;
  --card-bg: var(--bs-body-bg);
}
