.pill-button {
  background-color: #ddd;
  border: none;
  color: white;
  padding: 0px 2px;
  text-decoration: none;
  display: inline-block;

  min-width: 20%;
  max-width: 100%;
  margin: 2px 2px;
  background-color: rgb(41, 181, 191);
  white-space: nowrap;
  height: 22px;
  text-align: center;
  &:hover {
    background-color: rgb(81, 191, 291);
    cursor: url("./x-journal.svg") 16 16, pointer;
  }
}

.xtag {
  float: right;
  margin-left: 4px;
  //   font-size: 1em;
  color: mintcream;
  border-color: aliceblue;
}
.container {
  flex-wrap: wrap;
  align-items: center;
  display: flex;
  overflow: hidden;
  width: 100%;
  max-width: 100%;
  padding-left: 14px;
  border-radius: 5px;
  color: black;
}

.container input {
  height: 25px;
  flex: content;
  min-width: 100%;
  width: 100%;
  // border: 0px solid;
  border: none;
  border-top: 1px solid;
  background-color: unset;
}

.card-footer {
  padding: 0;
  border-top: 0px;
}

.row.no-pad {
  margin-right: 0;
  margin-left: 0;
}

.row.no-pad > [class*="col-"] {
  padding-right: 0;
  padding-left: 0;
}

@media screen and (max-width: 700px) {
  .title {
    font-size: 12px;
  }
  p {
    font-size: 20px;
  }
  .card-title {
    font-size: 15px;
  }
  .card-footer {
    font-size: 12px;
  }
}