.main {
  margin-left: 0.5rem; /* 8px */
  margin-right: 0.5rem; /* 8px */

  @media screen and (max-width: 700px) {
    .title {
      font-size: 12px;
    }
    p {
      font-size: 20px;
    }
    .card-title {
      font-size: 15px;
    }
    .card-footer {
      font-size: 12px;
    }
  }
}

.container .input {
  height: 25px;
  flex: content;
  min-width: 100%;
  width: 100%;
  border: 0px solid;
  border: none;
  border-top: 1px solid;
  background-color: unset;
}

.pillButton {
  border: none;
  color: white;
  padding: 0px 2px;
  text-decoration: none;
  display: inline-block;

  min-width: 20%;
  max-width: 100%;
  margin: 2px 2px;
  background-color: #29b5bf !important;
  white-space: nowrap;
  height: 22px;
  text-align: center;

  &:hover {
    background-color: rgb(81, 191, 291) !important;
  }

  &:disabled {
    background-color: grey !important;
  }
}

.formButton {
  border: none;
  color: white;
  --bs-btn-padding-x: 5px !important;
  --bs-btn-padding-y: 0px !important;
  padding-top: 0px;
  text-decoration: none;
  display: inline-block;
  border-radius: 5px;

  min-width: 25%;
  max-width: 100%;
  margin: 2px 2px;
  background-color: #29b5bf !important;
  white-space: nowrap;
  height: 22px;
  text-align: center;

  &:hover {
    background-color: rgb(81, 191, 291) !important;
  }

  &:disabled {
    background-color: grey !important;
  }
}

.title-edit {
  width: 100%;
}

.xtag {
  float: right;
  margin-left: 4px;
  color: mintcream;
  border-color: aliceblue;
}

.container {
  flex-wrap: wrap;
  align-items: center;
  display: flex;
  overflow: hidden;
  width: 100%;
  max-width: 100%;
  padding-left: 14px;
  border-radius: 5px;
  color: black;
}

.cardFooter {
  padding: 0px;
  border-top: 0px;
  background-color: var(--card-bg);
}

.cardHeader {
  margin-top: 0px;
  margin-bottom: 0px;
  padding: unset;
  border: 2px;
}

.row.no-pad {
  margin-right: 0;
  margin-left: 0;
}

.row.no-pad > [class*="col-"] {
  padding-right: 0;
  padding-left: 0;
}

.journalIcon {
  display: block;
  float: right;
}

.submit {
  float: right;
}

.reset {
  float: right;
}

.bookmarkCard {
  min-height: 250px;
  margin-bottom: 20px;
  background-color: var(--card-bg);
}

.newBookmarkCard {
  @extend .bookmarkCard;
  text-align: center;
  padding-left: 0.25em;
  padding-right: 0.25em;
}

.newBookmarkCard .cardFooter {
  padding-bottom: 8px;
  padding-right: 5px;
}

.editBookmarkIcon {
  float: left;
  padding: 0px;
  margin-top: 6px;
  margin-bottom: 8px;
  margin-left: 12px;
  font-size: 0.875rem; /* 14px */
  line-height: 1.25rem;
  --bs-btn-padding-x: 0px !important;
  --bs-btn-padding-y: 0px !important;
}

.deleteBookmarkIcon {
  display: inline;
  float: right;
  padding: 2px;
  margin: 0.5rem; /* 8px */
  font-size: 0.875rem; /* 14px */
  line-height: 1.25rem; /* 20px */
}

.errorText {
  color: red;
  font-style: italic;
  margin-left: 8px;
  background-color: rgb(253, 240, 240);
  max-width: 30%;
  border-radius: 5px;
}

.isScrapable {
  text-align: left;
}
