.btn {
  &:hover {
    background-color: #5cb85c !important;
    [data-bs-theme="light"] & {
      border-radius: 5px;
    }
  }
  margin: 0px;
  width: 100%;
}

.on {
  background-color: #29b5bf;
  color: white;
}

.item {
  padding: 0px !important;
  [data-bs-theme="light"] & {
    border-radius: 5px;
  }
}
