.modal-header {
  height: 50px;
}

#contained-modal-title-vcenter {
  text-align: center;
  width: 100%;
}

.import-text {
  width: 80%;
}

.import-check {
  display: inline;
  margin-left: 10%;
  color: #29b5bf;
}

.import-item {
  display: flex;
}

.modal-container {
  margin-top: 10vh;
  max-height: 80vh;
  overflow: scroll;
}

