.background_image {
  position: fixed;
  left: 0;
  right: 0;
  z-index: -1;
  display: block;
  opacity: 0.2;
  -webkit-filter: blur(10px);
  -moz-filter: blur(10px);
  -o-filter: blur(5px);
  -ms-filter: blur(5px);
  filter: blur(5px);
}

