.navContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.searchBar {
  border: 1px solid grey;
  align-items: center;
  min-height: 0;
  border-radius: 5px;
  width: 100%;
  flex-wrap: wrap;
}

.searchBar > .searchBarBtn {
  margin-left: -115px !important;
  border: none;

  &:hover {
    color: #29b5bf;
  }
}

.searchBarInput {
  border: none !important;
  outline: none !important;
  padding: 0.375rem 0.75rem;
  background: unset;
  align-items: center;
  text-align: center;
  min-width: 90px;
  width: 100%;
  height: auto;
  flex: 1 1 0;
}

.pillButton {
  border: none;
  color: white;
  padding: 0px 2px;
  text-decoration: none;
  display: inline-block;

  min-width: 50px;
  margin: 2px 2px;
  background-color: #29b5bf;
  white-space: nowrap;
  height: 22px;
  text-align: center;
  &:hover {
    background-color: rgb(81, 191, 291);
  }
}

.pillButtonTag {
  @extend .pillButton;
  min-width: 10%;
  background-color: #29b5bf;
}

@media (max-width: 480px) {
  .navBtns {
    margin: 0;
    padding: 0;
  }

  .navBtns div {
    margin: 0;
  }

  .navBtns button {
    margin: 0;
  }
}

@media (max-width: 768px) {
  .navContainer {
    .navBrand {
      flex-grow: 1;
      order: 0;
      margin-left: 0 !important;
      margin-right: 0 !important;
    }

    .searchBar {
      position: fixed;
      bottom: 35px;
      right: 10%;
      width: 80vw;
      z-index: 1;
      order: 2;
      background-color: var(--bs-body-bg);
      box-shadow:
        3px 3px #29b5bf,
        -0.2em 0em 0.2em #29b5bf;
    }

    .navBtns {
      order: 3;
      margin-left: 0 !important;
      margin-right: 0 !important;
      padding-top: 10px;
      float: right;
    }
  }
}

.scrollableColumn {
  height: 100%;
  overflow-y: auto;
  flex: 1;
  min-width: 0; /* prevents flex item overflow issues */
}

.searchButtonsContainer {
  padding: 0.325rem 0.25rem;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

/* navStyles or a shared CSS file */
.fullHeightRow {
  height: calc(100vh - 60px);
  flex-wrap: nowrap;
}

/* navStyles */
.gridContainer {
  display: grid;
  grid-template-columns: minmax(250px, 300px) 1fr; /* taglist min 250px, max 300px, rest fills */
  height: calc(100vh - 60px);
}
