.logo {
  margin-bottom: 20px;
  font-family: "Sirivennela", sans-serif;
  font-size: 40px;
  font-weight: 400;
  font-style: normal;
  margin-left: 8px;
  // align-content: center;
  // text-align: center;
}

.logoPicture {
  margin-top: -5px;
}
