.f {
  font-size: 27px;
  margin-bottom: 30px;
  margin-left: 8px;
}

.first {
  font-size: 27px;
  margin-left: -3px;
}

.logoPicture {
  margin-top: -5px;
  margin-left: 10px;
}

.top {
  margin-top: 4px;
}
