.tagList {
  min-height: calc(100vh - 70px);
  margin-top: 5px;
  padding-bottom: 5px;
  border-radius: 10px;

  background-color: var(--tag-list-bg);
  overflow: scroll;

  @media screen and (max-width: 800px) {
    .title {
      font-size: 12px;
    }
    p {
      font-size: 20px;
    }
  }

  @media screen and (max-width: 780px) {
    min-height: 35vh;
  }

  @media screen and (min-width: 760px) {
    max-height: unset;
  }
}
